// Файл обнуляющих стилей
@import "nullstyle.scss";


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Переменные */
$fz:80px;
$titlecolor:#D4DCF6;



/* Шаблоны */
%color_btn {
	background-color: #00CAC4;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.2em;
}

/* Миксины */

@mixin fontz($f){
	font-size: $f;
}
//это для верстки на 1920px, потом убрать
 
button {
  outline: none !important;
}

.opacity {
  opacity: 0.7;
  margin-left: 5px;

  &:hover {
    opacity: 1;
    transition: 0.3s;
  }

  &:not(:hover) {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.opened {
  transition: 1s; 
}

.opened .main-container__item-text {
 transition:all 0.3s;
 min-height:150px;
 padding: 0px 10px 10px 10px !important;
 grid-auto-columns: auto;
}

.opened .main-container__strelka {
  transform: rotate(180deg) !important;
  transition:all 0.3s;

}

.hide {
  display: none;
}

.show {
  display: block;
}

.test {
  position: absolute;
  color: blue;
  font-size: 20px;
  margin: 0 auto;
  left:40%;
  margin-top: 20px;
  // animation-name: test;
  // animation-duration: 1s;
  // animation-timing-function: linear;
  animation:test 1s linear ;
}

.red-input {
  background-color: #E6C2CB !important;
}

.yellow-input {
  background-color: #F4D87E !important;
}

.blue-input {
  background-color: #D4DCF6 !important;
}

@keyframes test {
  0% {
     left:-100%;
  }
      
  100% {
    left:40%;
  }   
}


.main-container {
  padding-top: 50px;
  background-color: #A5B7EE;
  display: flex;
  justify-content: space-around;
  min-height:100vh;

  h1{
    padding-top: 10px;
    font-size: 20px;
      
    text-align: center;
    padding-bottom: 20px;
  }

  .main-container__first-column {
    width: 22%;
    background-color: #DBDBDB;


    .main-container__menu {
      padding-left:10px;
      padding-right: 10px;
      .main-container__--blue {
        background-color: $titlecolor;
      }
     .main-container__--yellow{
      background-color: #F4D87E;
     }

     .main-container__--red {
      background-color: #E6C2CB;
     }

     .all {
       
     }

      button {
        height: 30px;
        padding-top:5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 10px;
        font-size: 18px;
        text-align: center;

        
      }
    }
  }
  

  
  .main-container__second-column {
    position: relative;
    width: 50%;
    background-color: #E5E6E9;

    .main-container__task-list-empty {
      position: absolute;
      color:rgba(112, 104, 101, 0.562);
      left: 42%;
      top: 8%;
    }

  

    .main-container__task-list {
      display: flex;
      flex-wrap: wrap;
      max-height: 660px;
      overflow-y:scroll;
      
      li {
        margin-bottom: 20px;
      }
    }

    .main-container__task {
      margin: 0 auto;
      position: relative;
      width: 90%;
      padding: 5px 5px 20px 20px;
      border-radius: 10px;;
      background-color: #F1F1F1;

      
      

      .main-container__task-button {
        float: right;
        background-image: url(../img/krestik.webp);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        // background-color: red;
        width: 20px;
        height: 20px;
      }

    

      .main-container__strelka {
        background-image: url(../img/11.png);
        float: right;
        width: 20px;
        height: 20px;
        transition:all 0.3s;
        transform: rotate(0deg);
        background-color: #fff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100%;
        
      }

      .main-container__editing {
        float: right;
        background-image: url(../img/pen.png);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        // background-color: red;
        width: 20px;
        height: 20px;
      }

      .main-container__strikethrough {
        float: right;
        background-image: url(../img/strikethrough.png);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        // background-color: red;
        width: 20px;
        height: 20px;
      }

      .main-container__red-priority {
        float: right;
        background-image: url(../img/red.png);
        background-size: 7px;
        cursor: pointer;
        // background-color: red;
        width: 20px;
        height: 18px;
      }

      .main-container__yellow-priority { 
        float: right;
        background-image: url(../img/yellow.png);
        background-size: 7px;
        cursor: pointer;
        // background-color: red;
        width: 20px;
        height: 18px;
      }

      .main-container__blue-priority {
        float: right;
        background-image: url(../img/blue.png);
        background-size: 7px;
        
        background-repeat: repeat;
        cursor: pointer;
        // background-color: red;
        width: 20px;
        height: 18px;
      }

      input  {
        position: relative;
        margin-top: 25px !important;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: $titlecolor;
        width: 95%;
      }

      .main-container__item-text {
        font-size: 16px;
        color: #737478;
        max-height: 0;
        border-radius: 10px;
        padding: 0;
        background-color: #DBDBDB;
        width: 95%;
        overflow: hidden;
        transition:all 0.3s;
        font-weight: 400;  
        line-height: 24px;
        resize: none;
      }
    }
  }
  
  .main-container__third-column {
    width: 30%;
    background-color: #fff;

    .task-add {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      margin: 0 auto;
      width: 90%;
      padding: 10px 20px 20px 20px;
      border-radius: 20px;
      background-color: #76A6A8;
      //background-image: url(../img/sheet.jpg);
      background-repeat: no-repeat;
      background-size: 100%;      
      background-position: 0 -20px;

      .task-add__error {
        position: absolute;
        left: 10%;
        
        color: rgb(206, 54, 54);
        width: 81%;
        margin: 0;
      }

      input  {
        position: relative;
        line-height: 1;
        font-size: 18px;
        margin:20px 10px 10px 10px;
        padding-left: 10px;
        height:40px;
        width: 250px;
        border-radius: 10px;
        background-color: $titlecolor;
      }

      .error {
        border: 1px solid red;
      }
  
      textarea {
        font-size: 16px;
        color: black;
        height: 200px;
        border-radius: 10px;
        margin: 10px 10px 10px 10px !important;
        width: 250px !important;
        padding: 10px;
        background-color: #DBDBDB;
        resize: none;
      }

      button {
        color: #fff;
        font-size: 16px;
        background-color: rgb(0, 162, 255);
        height: 40px;
        width: 200px;
        border-radius: 10px;
        outline: none !important;

        &:hover {
          background-color: rgb(16, 214, 214);
          // font-size: 18px;
          transition: 0.3s;
  
        }
  
        &:not(:hover) {
          background-color: rgb(0, 162, 255);
          transition: 0.3s;
          // font-size: 16px;
        }
      }

      

     
    }

  }
}
