@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a:active, a:focus {
  outline: none; }

button {
  outline: none; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

input::-ms-clear {
  display: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }

a {
  display: inline-block;
  position: relative;
  color: #000000; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

li {
  list-style-type: none;
  /* Убираем маркеры */ }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-v20-cyrillic_latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), url("fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff"), url("fonts/roboto-v20-cyrillic_latin-regular.ttf") format("truetype"), url("fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* Переменные */
/* Шаблоны */
/* Миксины */
.html, body {
  overflow: hidden; }

button {
  outline: none !important; }

.opacity {
  opacity: 0.7;
  margin-left: 5px; }
  .opacity:hover {
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .opacity:not(:hover) {
    opacity: 0.7;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.popup {
  position: absolute; }

.strikethrough {
  text-decoration: line-through;
  background-color: #DBDBDB !important; }

.completed {
  background-color: #ACACAC;
  color: white; }
  .completed:hover {
    background-color: #808080;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-decoration: line-through; }
  .completed:not(:hover) {
    background-color: #ACACAC;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.opened {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.opened .main-container__task-text {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 150px;
  padding: 0px 10px 10px 10px !important;
  grid-auto-columns: auto; }

.opened .main-container__strelka {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.rotate {
  -webkit-transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
  transform: rotate(360deg) !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.goBackMenu {
  margin-left: 0 !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.data {
  color: #ACACAC;
  float: right;
  margin-right: 30px;
  margin-top: 10px; }

.back {
  margin-left: 0px !important; }

@media (max-width: 699px) {
  .tasks.fadeIn {
    display: none; } }

@media (max-width: 699px) {
  .w100 {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100% !important;
    display: block !important; } }

@media (max-width: 699px) {
  .w-100 {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 0 !important; } }

.hide {
  display: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.show {
  display: block !important; }

.test {
  position: absolute;
  color: blue;
  font-size: 20px;
  margin: 0 auto;
  left: 40%;
  margin-top: 20px;
  -webkit-animation: test 1s linear;
  animation: test 1s linear; }

.red-input {
  background-color: #E6C2CB !important; }

.yellow-input {
  background-color: #F4D87E !important; }

.blue-input {
  background-color: #D4DCF6 !important; }

@-webkit-keyframes test {
  0% {
    left: -100%; }
  100% {
    left: 40%; } }

@keyframes test {
  0% {
    left: -100%; }
  100% {
    left: 40%; } }

.error-message {
  position: absolute;
  color: red;
  left: 3.5%;
  display: none; }

.all-tasks {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #E5E6E9; }
  .all-tasks:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #F1F1F1; }

.blue {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #9191f8; }
  .blue:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #7c7cff;
    color: white; }

.yellow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #F4BE7E; }
  .yellow:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #F4A33E; }

.red {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #E696AA; }
  .red:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #E65B7E; }

@media (max-width: 768px) {
  .size {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: 60px !important; } }

@media (max-width: 568px) {
  .size {
    height: 140px !important; } }

@media (max-width: 376px) {
  .size {
    height: 240px !important; } }

.cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #A5B7EE;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 699px) {
    .cap {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  .cap .btn-menu {
    min-width: 50px;
    height: 50px;
    background-image: url("../img/1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    @media (min-width: 1025px) {
      .cap .btn-menu {
        display: none; } }
  .cap .btn-new-task {
    min-width: 40px;
    height: 40px;
    background-image: url("../img/plus.png");
    opacity: 0.7;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
    @media (min-width: 700px) {
      .cap .btn-new-task {
        display: none; } }
  .cap .cap__header-menu {
    margin-left: -200%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    width: 90%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (min-width: 1025px) {
      .cap .cap__header-menu {
        display: none; } }
    @media (max-width: 568px) {
      .cap .cap__header-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    @media (max-width: 313px) {
      .cap .cap__header-menu {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 0; } }
    .cap .cap__header-menu .cap__header-btn {
      width: 120px;
      height: 35px;
      border-radius: 10px;
      font-size: 18px;
      margin-right: 5px; }
      @media (max-width: 768px) {
        .cap .cap__header-menu .cap__header-btn {
          height: 40px !important; } }
      @media (max-width: 568px) {
        .cap .cap__header-menu .cap__header-btn {
          margin-bottom: 5px; } }
      @media (max-width: 480px) {
        .cap .cap__header-menu .cap__header-btn {
          width: 150px; } }
      @media (max-width: 436px) {
        .cap .cap__header-menu .cap__header-btn {
          width: 120px; } }

.main-container {
  position: relative;
  background-color: #A5B7EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 93.72624vh; }
  .main-container .btn-menu {
    position: absolute;
    left: 1%;
    top: 0%;
    width: 50px;
    height: 50px;
    background-color: RGBA(0, 0, 0, 0);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .main-container .btn-menu img {
      width: 50px; }
    @media (min-width: 1025px) {
      .main-container .btn-menu {
        display: none !important; } }
  .main-container h1 {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px; }
  .main-container .main-container__first-column {
    width: 20%;
    background-color: #DBDBDB;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    @media (max-width: 1024px) {
      .main-container .main-container__first-column {
        -webkit-animation: goLeft 0.5s linear;
        animation: goLeft 0.5s linear;
        margin-left: -20%; }
      @-webkit-keyframes goLeft {
        0% {
          margin-left: 0; }
        20% {
          margin-left: -4%; }
        40% {
          margin-left: -8%; }
        60% {
          margin-left: -12%; }
        80% {
          margin-left: -16%; }
        100% {
          margin-left: -20%; } }
      @keyframes goLeft {
        0% {
          margin-left: 0; }
        20% {
          margin-left: -4%; }
        40% {
          margin-left: -8%; }
        60% {
          margin-left: -12%; }
        80% {
          margin-left: -16%; }
        100% {
          margin-left: -20%; } } }
    .main-container .main-container__first-column .main-container__menu {
      padding-left: 10px;
      padding-right: 10px; }
      .main-container .main-container__first-column .main-container__menu .main-container__--blue {
        background-color: #D4DCF6; }
        .main-container .main-container__first-column .main-container__menu .main-container__--blue:hover {
          background-color: #A3B6F6;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-container .main-container__first-column .main-container__menu .main-container__--blue:not(:hover) {
          background-color: #D4DCF6;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .main-container .main-container__first-column .main-container__menu .main-container__--yellow {
        background-color: #F4D87E; }
        .main-container .main-container__first-column .main-container__menu .main-container__--yellow:hover {
          background-color: #F4CA3E;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-container .main-container__first-column .main-container__menu .main-container__--yellow:not(:hover) {
          background-color: #F4D87E;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .main-container .main-container__first-column .main-container__menu .main-container__--red {
        background-color: #E6C2CB; }
        .main-container .main-container__first-column .main-container__menu .main-container__--red:hover {
          background-color: #E67D98;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-container .main-container__first-column .main-container__menu .main-container__--red:not(:hover) {
          background-color: #E6C2CB;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .main-container .main-container__first-column .main-container__menu .all {
        background-color: #E5E6E9; }
        .main-container .main-container__first-column .main-container__menu .all:hover {
          background-color: #F1F1F1;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-container .main-container__first-column .main-container__menu .all:not(:hover) {
          background-color: #E5E6E9;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .main-container .main-container__first-column .main-container__menu .main-container__completed {
        background-color: #ACACAC;
        color: white; }
        .main-container .main-container__first-column .main-container__menu .main-container__completed:hover {
          background-color: #808080;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          text-decoration: line-through; }
        .main-container .main-container__first-column .main-container__menu .main-container__completed:not(:hover) {
          background-color: #ACACAC;
          color: white;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .main-container .main-container__first-column .main-container__menu button {
        height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 10px;
        font-size: 18px;
        text-align: center; }
  .main-container .main-container__second-column {
    position: relative;
    width: 50%;
    background-color: #E5E6E9; }
    @media (max-width: 1024px) {
      .main-container .main-container__second-column {
        width: 50%; } }
    @media (max-width: 699px) {
      .main-container .main-container__second-column {
        width: 100%; } }
    .main-container .main-container__second-column .main-container__task-list-empty {
      color: rgba(112, 104, 101, 0.562);
      text-align: center; }
    .main-container .main-container__second-column .main-container__task-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-height: 660px;
      overflow-y: auto; }
      .main-container .main-container__second-column .main-container__task-list li {
        margin-bottom: 20px; }
    .main-container .main-container__second-column .main-container__task {
      margin: 0 auto;
      position: relative;
      width: 90%;
      padding: 5px 5px 20px 20px;
      border-radius: 10px;
      background-color: #F1F1F1; }
      .main-container .main-container__second-column .main-container__task .main-container__task-button {
        float: right;
        background-image: url(../img/krestik.webp);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px; }
      .main-container .main-container__second-column .main-container__task .main-container__strelka {
        background-image: url(../img/11.png);
        float: right;
        width: 20px;
        height: 20px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        background-color: #fff;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 100%; }
      .main-container .main-container__second-column .main-container__task .main-container__editing {
        float: right;
        background-image: url(../img/pen.png);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px; }
      .main-container .main-container__second-column .main-container__task .main-container__strikethrough {
        float: right;
        background-image: url(../img/strikethrough.png);
        background-size: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px; }
      .main-container .main-container__second-column .main-container__task .main-container__red-priority {
        float: right;
        background-image: url(../img/red.png);
        background-size: 7px;
        cursor: pointer;
        width: 20px;
        height: 18px; }
      .main-container .main-container__second-column .main-container__task .main-container__yellow-priority {
        float: right;
        background-image: url(../img/yellow.png);
        background-size: 7px;
        cursor: pointer;
        width: 20px;
        height: 18px; }
      .main-container .main-container__second-column .main-container__task .main-container__blue-priority {
        float: right;
        background-image: url(../img/blue.png);
        background-size: 7px;
        background-repeat: repeat;
        cursor: pointer;
        width: 20px;
        height: 18px; }
      .main-container .main-container__second-column .main-container__task .main-container__task-title {
        position: relative;
        overflow: hidden;
        margin-top: 25px !important;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #D4DCF6;
        width: 95%;
        min-height: 50px;
        resize: none !important; }
      .main-container .main-container__second-column .main-container__task .main-container__task-text {
        font-size: 16px;
        color: #737478;
        max-height: 0;
        border-radius: 10px;
        padding: 0;
        background-color: #DBDBDB;
        width: 95%;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        font-weight: 400;
        line-height: 24px;
        overflow-y: auto; }
  .main-container .main-container__third-column {
    width: 30%;
    background-color: #fff; }
    @media (max-width: 1024px) {
      .main-container .main-container__third-column {
        width: 50%; } }
    @media (max-width: 699px) {
      .main-container .main-container__third-column {
        display: none; } }
    .main-container .main-container__third-column .task-add {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      width: 90%;
      padding: 10px 20px 20px 20px;
      border-radius: 20px;
      background-color: #76A6A8;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 0 -20px; }
      .main-container .main-container__third-column .task-add .task-add__error {
        position: absolute;
        left: 10%;
        color: #ce3636;
        width: 81%;
        margin: 0; }
      .main-container .main-container__third-column .task-add .main-container__input {
        position: relative;
        line-height: 1;
        font-size: 18px;
        margin: 20px 10px 0px 10px !important;
        padding-left: 10px;
        height: 40px;
        width: 100%;
        border-radius: 10px;
        background-color: #D4DCF6;
        overflow: hidden; }
      .main-container .main-container__third-column .task-add .error {
        border: 1px solid red; }
      .main-container .main-container__third-column .task-add .comment {
        position: absolute;
        top: 25%;
        left: 0;
        padding-left: 40px;
        color: #737478;
        font-size: 16px; }
      .main-container .main-container__third-column .task-add .main-container__textarea {
        font-size: 16px;
        color: black;
        min-height: 200px;
        border-radius: 10px;
        margin: 10px 10px 10px 10px !important;
        width: 100% !important;
        padding: 10px;
        background-color: #DBDBDB;
        resize: none; }
      .main-container .main-container__third-column .task-add button {
        color: #fff;
        font-size: 16px;
        background-color: #00a2ff;
        height: 40px;
        width: 90%;
        border-radius: 10px;
        outline: none !important; }
        .main-container .main-container__third-column .task-add button:hover {
          background-color: #10d6d6;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .main-container .main-container__third-column .task-add button:not(:hover) {
          background-color: #00a2ff;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
